{% extends 'vacancies/base.html' %}

{% load static %}

{% block content %}
	<h2 class="main__title title-reset">Востребованность профессии по годам</h2>

	<table class="main__table table1">
		<thead>
			<tr>
				{% for cell in headers %}
					<th class="table-cell">{{ cell }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for row in rows %}
				<tr>
					{% for cell in row %}
						<td class="table-cell">{{ cell }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
    </table>

	{% for graph_url in graph_urls %}
		<img src="{{ graph_url.url }}" alt="График статистики по годам" class="main__graph graph-img">
	{% endfor %}
{% endblock %}