{% extends 'vacancies/base.html' %}

{% block content %}
	<h2 class="main__title title-reset">Востребованность профессии по годам</h2>
	<ul class="main__table-list">
		{% for statistic in statistics %}
			<li>
				<h3 class="main__table-title title-reset">{{  }}</h3>
				<table class="main__table"></table>
			</li>
		{% endfor %}
	</ul>
	<ul class="main__graph-list">
		{% for graph in graphs %}
			<li>
				<img src="" alt="График статистики по годам" class="main__graph">
			</li>
		{% endfor %}
	</ul>
{% endblock %}