{% extends 'vacancies/base.html' %}

{% load static %}

{% block content %}
	<h2 class="main__title title-reset">Востребованность профессии по городам</h2>

	<table class="main__table table2">
		<thead>
		    <tr>
			    {% for cell in headers1 %}
					<th class="table-cell2">{{ cell }}</th>
			    {% endfor %}
		    </tr>
		</thead>
		<tbody>
		    {% for row in rows1 %}
				<tr>
				    {% for cell in row %}
						<td class="table-cell2">{{ cell }}</td>
				    {% endfor %}
				</tr>
		    {% endfor %}
		</tbody>
    </table>
    <table class="main__table table2">
		<thead>
		    <tr>
			    {% for cell in headers2 %}
					<th class="table-cell2">{{ cell }}</th>
			    {% endfor %}
		    </tr>
		</thead>
		<tbody>
		    {% for row in rows2 %}
				<tr>
					{% for cell in row %}
						<td class="table-cell2">{{ cell }}</td>
					{% endfor %}
				</tr>
		    {% endfor %}
		</tbody>
    </table>

	<img src="" alt="График статистики по городам" class="main__graph">
{% endblock %}