{% extends 'vacancies/base.html' %}

{% load static %}

{% block content %}
	<img class="main__img" src="{% static 'vacancies/images/system_admin.jpg' %}" alt="Системный администратор" width="70%">
	{% for p in description %}
		{% autoescape on %}
			<h2 class="main__title title-reset">{{ p.title }}</h2>
			<p class="main__description paragraph__reset">{{ p.text|linebreaks }}</p>
		{% endautoescape %}
	{% endfor %}
{% endblock %}

<!-- Что представляет из себя профессия? -->

<!-- Системный администратор — это специалист, который занимается настройкой, совершенствованием и поддержкой ИТ-инфраструктуры компании, включая оборудование, периферию, программное обеспечение и сетевые подключения. Он должен уметь разбираться в любой системе как на аппаратном, так и на программном уровне; администрировать Windows, Linux, отвечать за серверную часть CRM, ERP, сеть и инфраструктуру в целом.

Профессия системного администратора появилась почти одновременно с компьютерами — еще в начале 1980-х годов. Первые сисадмины защищали и поддерживали работу локальной сети в Пентагоне. Впрочем, довольно-таки скоро они оказались востребованы не только в оборонке. Мы привыкли к ним как к людям, которые устанавливают на компьютер операционную систему и приходят на помощь, когда «что-то нажал и все исчезло».

Сегодня системный администратор выполняет гораздо больше задач, профессия эволюционирует вместе с ИТ-системами, остается востребованной и дает возможности для роста.

То, чем занимается системный администратор, зависит от размера компании, сферы деятельности, опыта и навыков самого админа. Вместо того чтобы давать определение, лучше выделить конкретные типы сисадминов:

Эникей — начинающий системный администратор, который выполняет базовые функции по настройке оборудования и программного обеспечения. Обычно помощник старшего сисадмина или админ в небольшой неайтишной компании, который закрывает текущие инциденты.

Системный администратор (он же труъ админ) — специалист широкого профиля, который отвечает за стабильное и безотказное функционирование ИТ-инфраструктуры, осуществляет мониторинг, проводит инвентаризацию, отвечает за безопасность пользователей, занимается сетями и т.д. Это многорукий и многоголовый бог ИТ-инфраструктуры, который берёт на себя обязанности по обеспечению всей ИТ-жизнедеятельности компании. Встречается практически в любых компаниях.

Системный архитектор-инженер — специалист, проектирующий ИТ-инфраструктуру и архитектуру сети в крупных корпорациях.

Сетевой администратор — специалист, который занимается настройкой и развитием физических и логических сетей в компании, а также управлением системами биллинга, учёта и контроля трафика. Востребован в ЦОДах, телекоме, банках, корпорациях.

Инженер информационной безопасности — специалист, который обеспечивает безопасность ИТ-инфраструктуры на всех уровнях. Востребован в компаниях, чувствительных к атакам и проникновению в сеть (а это и финтех, и банки, и промышленность, и проч.). -->