{% extends 'vacancies/base.html' %}

{% load static %}

{% block content %}
	<h2 class="main__title title-reset">Часто требуемые навыки для сис.админа по годам</h2>
	<div class=wrap>
		<table class="main__table big-table">
			<thead>
				<tr>
					{% for cell in headers %}
						<th class="table-cell">{{ cell }}</th>
					{% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for row in rows %}
					<tr>
						{% for cell in row %}
							<td class="table-cell">{{ cell }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}